<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>ZÍSKEJ API pro CPK pro čtenáře – dokumentace</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container">

<h1>ZÍSKEJ API pro CPK pro čtenáře – dokumentace</h1>

<p>
  Naposledy aktualizováno: 24.5.2021.
</p>

<p>
  TODO: Přidat EDD II
</p>

<h2>Úvod</h2>

<p>
  ZÍSKEJ API pro CPK pro čtenáře je na adrese
  <a href="https://ziskej.techlib.cz/api/v1/">https://ziskej.techlib.cz/api/v1/</a> 
  pro produkční web a
  <a href="https://ziskej-test.techlib.cz/api/v1/">https://ziskej-test.techlib.cz/api/v1/</a>
  pro testovací.
  Obdobně i pro ostatní instance.
</p>


<h3>Ověření požadavků</h3>

<p>
  Pro ověření požadavku použít JWT s Asymmetric (Public-key) Algorithm.  Zvolený algoritmus: ES512 - ECDSA signature algorithm using SHA-512 hash algorithm.
</p>

<p>
  Přidělené APP_ID je cpk.  Payload (token_dict v příkladu) by mělo obsahovat iss a app nastavené na APP_ID a iat a exp s platností na hodinu od vytvoření tokenu.
</p>

<p>
  Příklad generování zkušebního certifikátu:

  <code>
    ssh-keygen -t ecdsa -b 521 -C "cpkfake" -f cpkfake
  </code>
</p>

<p>
  Příklad Python kódu pro vygenerování JWT, pomocí kterého testujeme (pro PHP příslušně upravte):
</p>

<div class="ml-5"><code><pre>
CPK_APP_ID = 'cpk'
now = datetime.datetime.utcnow()
token_dict = dict(
    iss = CPK_APP_ID,
    iat = now,
    exp = now + datetime.timedelta(seconds=3600),
    app = CPK_APP_ID,
    )
with open('cpkfake', 'rb') as f:
    cpk_private_key = f.read()
token = jwt.encode(token_dict, cpk_private_key, algorithm='ES512')
</pre></code></div>

<p>
  V případě neplatného tokenu je vrácen
  Response 401 a v těle odpovědi {'error': 'Více podrobností o příčině.'}.
</p>

<p>
  Odkazy:
</p>

<ul>
  <li>JWT (JSON Web Token): <a href="https://jwt.io/introduction/">https://jwt.io/introduction/</a></li>
  <li>Python implementace JWT: <a href="https://pyjwt.readthedocs.io/en/latest/index.html">https://pyjwt.readthedocs.io/en/latest/index.html</a></li>
  <li>PyJWT Asymmetric (Public-key) Algorithms: <a href="https://pyjwt.readthedocs.io/en/latest/algorithms.html#asymmetric-public-key-algorithms">https://pyjwt.readthedocs.io/en/latest/algorithms.html#asymmetric-public-key-algorithms</a></li>
  <li>Příklad použití: <a href="https://pyjwt.readthedocs.io/en/latest/usage.html#encoding-decoding-tokens-with-rs256-rsa">https://pyjwt.readthedocs.io/en/latest/usage.html#encoding-decoding-tokens-with-rs256-rsa</a></li>
  <li>Ad ssh-keygen -b 521: <a href="https://www.ssh.com/ssh/keygen/">https://www.ssh.com/ssh/keygen/</a></li>
</ul>


<h3>Response Code</h3>

<p>Response</p>

<dl class="ml-5">
  <dt>200</dt>
  <dd>Vše v pořádku</dd>
  <dt>201</dt>
  <dd>Byla vytvořena nová položka</dd>
  <dt>401</dt>
  <dd>Neautorizováno - chybějící nebo neplatný token</dd>
  <dt>403</dt>
  <dd>Nepřístupné</dd>
  <dt>404</dt>
  <dd>Nenalezeno</dd>
  <dt>422</dt>
  <dd>Nebylo možné provést, více detailů v těle odpovědi</dd>
  <dt>500</dt>
  <dd>Chyba na straně ZÍSKEJ API</dd>
</dl>

<h3>Seznam</h3>

<h4>Stránkování</h4>

<p>
  Systém nestránkuje, ale vrací všechny výsledky pro daný dotaz.
</p>

<h4>Jen id vs. vč. metadat</h4>

<p>
  Pro vybraná volání je možné požádat o plné údaje, typicky pro seznam objednávek (tickets) pro každou z nich doplnit údaje na úrovni požadavku o detail objednávky.  Víc viz popis samotných volání parametr expand.
</p>


<h2>Obecné metody</h2>

<h3>Přhlášení pro potřeby testování</h3>

<h4>Přihlášení POST</h4>

<dl>
  <dt>URL</dt>
  <dd>/login</dd>
  <dt>Method</dt>
  <dd>POST</dd>
  <dt>URL params</dt>
  <dd></dd>
  <dt>Data params</dt>
  <dd>
    <dl class="ml-5">
      <dt><strong>Required</strong></dt>
      <dd></dd>
      <dt>username</dt>
      <dd>uživatelské jméno: cpk</dd>
      <dt>password</dt>
      <dd>heslo pro testovací instanci</dd>
    </dl>
  </dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 200 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "token": "some JWT"
}
    </pre></code></div>
  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -d username=cpk -d password=loremipsum {{api_base_url}}/login
    </pre></code></div>
  </dd>
</dl>


<h2>Knihovny</h2>

<h3>Seznam knihoven [/libraries]</h3>

<h4>Seznam knihoven GET</h4>

<p>
  Seznam knihoven aktivních v ZÍSKEJ a poskytujících službu specifikovanu
  ve volitelném parametru service, default je mvszk.
</p>

<p>Paremetr service:</p>

<dl>
  <dt>mvszk (default)</dt>
  <dd>MVS jako ŽK (Žádající Knihovna)</dd>
  <dt>mvsdk</dt>
  <dd>MVS jako DK (Dožádaná Knihovna)</dd>
  <dt>mvs</dt>
  <dd>MVS jako ŽK nebo DK</dd>
</dl>

<dl>
  <dt>URL</dt>
  <dd>/libraries</dd>
  <dt>Method</dt>
  <dd>GET</dd>
  <dt>Autorizace</dt>
  <dd>není potřeba, tato část API je veřejně dostupná</dd>
  <dt>URL params</dt>
  <dd>
    <dl class="ml-5">
      <dt><strong>Optional</strong></dt>
      <dd></dd>
      <dt>service</dt>
      <dd>lov: mvszk (default), mvsdk, mvs</dd>
      <dt>include_deactivated</dt>
      <dd>1, zahrne i deaktivované knihovny, pokud mají nějakou objednávku (mvszk) nebo požadavek (mvsdk)</dd>
    </dl>
  </dd>
  <dt>Data params</dt>
  <dd></dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 200 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "items": ["ABA001", "ABA013", "BOA001"]
}
    </pre></code></div>
  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl {{api_base_url}}/libraries
    </pre></code></div>
  </dd>
</dl>


<h2>Čtenář</h2>

<h3>Profil čtenáře [/readers/:eppn]</h3>

<h4>Profil čtenáře GET</h4>

<dl>
  <dt>URL</dt>
  <dd>/readers/:eppn</dd>
  <dt>Method</dt>
  <dd>GET</dd>
  <dt>URL params</dt>
  <dd>
    <dl class="ml-5">
      <dt><strong>Optional</strong></dt>
      <dd></dd>
      <dt>expand</dt>
      <dd>lov: status, vrátí kompletní status čtenáře, včetně počtu objednávek a zpráv</dd>
    </dl>
  </dd>
  <dt>Data params</dt>
  <dd></dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 200 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "reader_id": "id čtenáře v ZÍSKEJ",
    "is_active": "true / false - zda může používat ZÍSKEJ",
    "first_name": "jméno",
    "last_name": "příjmení",
    "email": "email pro notifikace",
    "notification_enabled": "true / false - zda posílat notifikace",
    "sigla": "sigla mateřské knihovny",
    "reader_library_id": "id čtenáře v mateřské knihovně, zdroj CPK Shibboleth",
    "is_gdpr_reg": "true / false - souhlas s registrací",
    "is_gdpr_data": "true / false - souhlas s uložením dat"
}
    </pre></code></div>

    <p>Response 200 (application/json) pro expand=status</p>
    <div class="ml-5"><code><pre>
{
    "reader_id": "id čtenáře v ZÍSKEJ",
    "is_active": "true / false - zda může používat ZÍSKEJ",
    "first_name": "jméno",
    "last_name": "příjmení",
    "email": "email pro notifikace",
    "notification_enabled": "true / false - zda posílat notifikace",
    "sigla": "sigla mateřské knihovny",
    "reader_library_id": "id čtenáře v mateřské knihovně, zdroj CPK Shibboleth",
    "is_gdpr_reg": "true / false - souhlas s registrací",
    "is_gdpr_data": "true / false - souhlas s uložením dat",
    "count_tickets": "int - počet všech objednávek",
    "count_tickets_open": "int - počet všech neuzavřených objednávek",
    "count_messages": "int - počet všech zpráv pro jakoukoli objednávku",
    "count_messages_unread": "int - počet všech objednávek s nepřečtenou zprávou"
}
    </pre></code></div>

    <p>Response 200 (application/json) pokud nejsou souhlasy</p>
    <div class="ml-5"><code><pre>
{
    "reader_id": "id čtenáře v ZÍSKEJ",
    "is_gdpr_reg": "true / false - souhlas s registrací",
    "is_gdpr_data": "true / false - souhlas s uložením dat"
}
    </pre></code></div>

  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -H "Authorization: bearer $token" {{api_base_url}}/readers/1185@mzk.cz
curl -H "Authorization: bearer $token" {{api_base_url}}/readers/1185@mzk.cz?expand=status
    </pre></code></div>
  </dd>
</dl>


<h4>Zaregistruj čtenáře nebo aktualizuj profil existujícího čtenáře PUT</h4>

<dl>
  <dt>URL</dt>
  <dd>/readers/:eppn</dd>
  <dt>Method</dt>
  <dd>PUT</dd>
  <dt>URL params</dt>
  <dd></dd>
  <dt>Data params</dt>
  <dd>
    <dl class="ml-5">
      <dt><strong>Required</strong></dt>
      <dd></dd>
      <dt>first_name</dt>
      <dd>jméno</dd>
      <dt>last_name</dt>
      <dd>příjmení</dd>
      <dt>notification_enabled</dt>
      <dd>true / false - zda posílat notifikace</dd>
      <dt>sigla</dt>
      <dd>sigla mateřské knihovny</dd>
      <dt>is_gdpr_reg</dt>
      <dd>true / false - souhlas s registrací</dd>
      <dt>is_gdpr_data</dt>
      <dd>true / false - souhlas s uložením dat</dd>
    </dl>
    <dl class="ml-5">
      <dt><strong>Optional</strong></dt>
      <dd></dd>
      <dt>email</dt>
      <dd>email pro notifikace</dd>
      <dt>reader_library_id</dt>
      <dd>id čtenáře v mateřské knihovně, zdroj CPK Shibboleth</dd>
    </dl>
  </dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 201 or 200 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "reader_id": "id čtenáře v ZÍSKEJ",
    "is_active": "true / false - zda může používat ZÍSKEJ",
    "first_name": "jméno",
    "last_name": "příjmení",
    "email": "email pro notifikace",
    "notification_enabled": "true / false - zda posílat notifikace",
    "sigla": "sigla mateřské knihovny",
    "reader_library_id": "id čtenáře v mateřské knihovně, zdroj CPK Shibboleth",
    "is_gdpr_reg": "true / false - souhlas s registrací",
    "is_gdpr_data": "true / false - souhlas s uložením dat"
}
    </pre></code></div>

    <p>Response 422 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "error": "Library is not active"
}
    </pre></code></div>

  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -X PUT -d '{"first_name": "Pepa", "last_name": "Vonásek", "email": "info@example.com", "notification_enabled": true, "sigla": "ABA013", "is_gdpr_reg": true, "is_gdpr_data": true}' -H "Content-Type: application/json" -H "Authorization: bearer $token" {{api_base_url}}/readers/pepa.vonasek@ntk.cz
    </pre></code></div>
  </dd>
</dl>


<h2>Objednávky čtenáře</h2>

<h3>Seznam objednávek čtenáře [/readers/:eppn/tickets]</h3>

<h4>Seznam objednávek čtenáře GET</h4>

<dl>
  <dt>URL</dt>
  <dd>/readers/:eppn/tickets</dd>
  <dt>Method</dt>
  <dd>GET</dd>
  <dt>URL params</dt>
  <dd>
    <dl class="ml-5">
      <dt><strong>Optional</strong></dt>
      <dd></dd>
      <dt>expand</dt>
      <dd>lov: detail, pro každou objednávku vrátí hodnoty jako při standardním volání detailu objednávky</dd>
      <dt>include_closed</dt>
      <dd>1, zahrne i uzavřené objednávky</dd>
    </dl>
  </dd>
  <dt>Data params</dt>
  <dd></dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 200 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "items": ["ticket_id_1", "ticket_id_2", ..., "ticket_id_n"]
}
    </pre></code></div>

    <p>Response 200 (application/json) for expand=detail</p>
    <div class="ml-5"><code><pre>
{
    "items": [{
        "ticket_id": "id objednávky",
        "ticket_type": "lov: mvs - typ objednávky",
        "hid": "číslo objednávky v čitelné formě",
        "sigla": "sigla mateřské knihovny",
        "doc_id": "doc_id v CPK",
        "status_reader": "stavu objednávky z hlediska čtenáře",
        "status_reader_history": [{"id": "created", "date": "datum vytvoření objednávky (ISO, např. 2019-01-23)"}],
        "status_label": "název stavu objednávky",
        "is_open": "true / false - zda je objednávka neuzavřená",
        "payment_id": "b50debf86f54-100052",
        "payment_url": "https://ziskej-test.techlib.cz/platebator/1edd07eb-4cf0-4481-a3f1-6cba3585032b",
        "date_created": "datum vytvoření objednávky (ISO, např. 2019-01-23)",
        "date_requested": "datum poskytnutí požadované čtenářem (ISO)",
        "date_return": "datum požadovaného vrácení (ISO)",
        "count_messages": "int - počet zpráv k této objednávce",
        "count_messages_unread": "int - počet nepřečtených zpráv k této objednávce",
        "created_datetime": "ISO timestamp vytvoření objednávky (např. 2020-02-04T12:32:44+01:00)",
        "updated_datetime": "ISO timestamp poslední změny objektu objednávky (vč. např. interní záznam o odeslání notifikace) (např. 2020-02-04T12:32:44+01:00)"
        },
        ...
}
    </pre></code></div>

  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -H "Authorization: bearer $token" {{api_base_url}}/readers/1185@mzk.cz/tickets
curl -H "Authorization: bearer $token" "{{api_base_url}}/readers/1185@mzk.cz/tickets?expand=detail"
    </pre></code></div>
  </dd>
</dl>


<h4>Vytvoření nové objednávky čtenáře POST</h4>

<dl>
  <dt>URL</dt>
  <dd>/readers/:eppn/tickets</dd>
  <dt>Method</dt>
  <dd>POST</dd>
  <dt>URL params</dt>
  <dd></dd>
  <dt>Data params</dt>
  <dd>
    <dl class="ml-5">
      <dt><strong>Required</strong></dt>
      <dd></dd>
      <dt>ticket_type</dt>
      <dd>lov: mvs - typ objednávky</dd>
      <dt>doc_id</dt>
      <dd>doc_id v CPK</dd>
      <dt><strong>Optional</strong></dt>
      <dd></dd>
      <dt>doc_alt_ids</dt>
      <dd>alternativní dokumenty, seznam doc_id v CPK</dd>
      <dt>reader_note</dt>
      <dd>poznámka čtenáře pro knihovníka</dd>
      <dt>date_requested</dt>
      <dd>datum poskytnutí požadované čtenářem (ISO, např. 2019-01-23), nejdříve za 3 pracovní dny ode dneška</dd>
    </dl>
  </dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 201 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "id": "some_ticket_id"
}
    </pre></code></div>
  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -d '{"ticket_type": "mvs", "doc_id": "mzk.MZK01-001579506", "doc_alt_ids": ["nkp.NKC01-002901834"], "date_requested": "2019-01-23"}' -H "Content-Type: application/json" -H "Authorization: bearer $token" {{api_base_url}}/readers/1185@mzk.cz/tickets
    </pre></code></div>
  </dd>
</dl>


<h3>Objednávka čtenáře [/readers/:eppn/tickets/:ticket_id]</h3>

<h4>Detail objednávky čtenáře GET</h4>

<dl>
  <dt>URL</dt>
  <dd>/readers/:eppn/tickets/:ticket_id</dd>
  <dt>Method</dt>
  <dd>GET</dd>
  <dt>URL params</dt>
  <dd>
    <dl class="ml-5">
      <dt><strong>Optional</strong></dt>
      <dd></dd>
      <dt>check_payment</dt>
      <dd>lov: 1.  Vynutí ověření výsledku platby.  Jeho absence automaticky neznamená, že kontrola zaplacení neproběhne.</dd>
    </dl>
  </dd>
  <dt>Data params</dt>
  <dd></dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 200 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "ticket_id": "id objednávky",
    "ticket_type": "lov: mvs - typ objednávky",
    "hid": "číslo objednávky v čitelné formě",
    "sigla": "sigla mateřské knihovny",
    "doc_id": "doc_id v CPK",
    "status_reader": "stavu objednávky z hlediska čtenáře",
    "status_reader_history": [{"id": "created", "date": "datum vytvoření objednávky (ISO, např. 2019-01-23)"}],
    "status_label": "název stavu objednávky",
    "is_open": "true / false - zda je objednávka neuzavřená",
    "payment_id": "b50debf86f54-100052",
    "payment_url": "https://ziskej-test.techlib.cz/platebator/1edd07eb-4cf0-4481-a3f1-6cba3585032b",
    "date_created": "datum vytvoření objednávky (ISO, např. 2019-01-23)",
    "date_requested": "datum poskytnutí požadované čtenářem (ISO)",
    "date_return": "datum požadovaného vrácení (ISO)",
    "count_messages": "int - počet zpráv k této objednávce",
    "count_messages_unread": "int - počet nepřečtených zpráv k této objednávce"
}
    </pre></code></div>

  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -H "Authorization: bearer $token" {{api_base_url}}/readers/1185@mzk.cz/tickets/46f3e498030f4171?check_payment=1
    </pre></code></div>
  </dd>
  <dt>Notes</dt>
  <dd>
    <p>Mapování na status_label:</p>
    <div class="ml-5"><code><pre>
{
    'created': 'Nová, nezaplacená',
    'paid': 'Nová, zaplacená',
    'accepted': 'Ve zpracování',
    'prepared': 'Vyřízena',
    'lent': 'Vypůjčena',
    'closed': 'Uzavřena',
    'cancelled': 'Stornována',
    'rejected': 'Zamítnuta',
}
    </pre></code></div>

    <p>Z pohledu čtenáře je typický průběh následující:</p>

    <ol>
      <li>podána žádost o objednávku, zatím nezaplacena ani nepřijata = created</li>
      <li>platba zaplacena, objednávka zatím nepřijata - paid</li>
      <li>žádost přijata = accepted</li>
      <li>objednávka připravena k vyzvednutí = prepared</li>
      <li>objednávka vyzvednuta, zatím nevrácena = lent</li>
      <li>objednávka vrácena = closed</li>
    </ol>

    <p>Alternativní průběh zahrnuje stavy:</p>

    <ul>
      <li>žádost o objednávku zamítnuta = rejected</li>
      <li>žádost o objednávku / objednávka stornována = cancelled</li>
    </ul>

    <p>API obsahuje položku is_open, která určuje, zda je objednávka otevřená nebo uzavřená.  Uzavřená je po vrácení knihy, stornu, odmítnutí.</p>

    <p>Historie objednávky z pohledu čtenáře (status_reader_history):</p>

    <p>
      Detailu ticketu (vč. seznamu s expand=detail) obsahuje
      status_reader_history.  Hodnota je pole, jednotlivé položky jsou dict
      obsahující id odpovídající stavu objednávky (stavu pro čtenáře) a date
      datum ve formátu ISO (např. 2020-03-30), kdy ke změně na tento stav došlo.
    </p>

  </dd>
</dl>


<h4>Zrušení objednávky čtenáře DELETE</h4>

<dl>
  <dt>URL</dt>
  <dd>/readers/:eppn/tickets/:ticket_id</dd>
  <dt>Method</dt>
  <dd>DELETE</dd>
  <dt>URL params</dt>
  <dd></dd>
  <dt>Data params</dt>
  <dd></dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 200 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "message": "objednávka byla úspěšně zrušena (stornována)"
}
    </pre></code></div>

  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -X DELETE -H "Authorization: bearer $token" {{api_base_url}}/readers/1185@mzk.cz/tickets/46f3e498030f4171
    </pre></code></div>
  </dd>
  <dt>Notes</dt>
  <dd>Smazat (stornovat) MVS objednávku lze dokud není zaplacená.  Pokud nelze smazat, je příslušná informace součástí Response 422, error, viz obecný popis.</dd>
</dl>


<h2>Zprávy k objednávkám čtenáře</h2>

<h3>Zprávy k objednávce čtenáře [/readers/:eppn/tickets/:ticket_id/messages]</h3>

<h4>Zprávy k objednávce čtenáře GET</h4>

<dl>
  <dt>URL</dt>
  <dd>/readers/:eppn/tickets/:ticket_id/messages</dd>
  <dt>Method</dt>
  <dd>GET</dd>
  <dt>URL params</dt>
  <dd></dd>
  <dt>Data params</dt>
  <dd></dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 200 (application/json)</p>
    <div class="ml-5"><code><pre>
{
  "items": [{
      "sender": "lov: reader, library_zk - odesílatel zda tenáře nebo knihovník mateřské knihovny",
      "created_datetime": "ISO timestamp vytvoření zprávy (např. 2020-02-04T12:32:44+01:00)",
      "unread": false,
      "text": "text zprávy - čistý text bez formátování s novými řádky typu unix"
      },
      ...
}
    </pre></code></div>

  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -H "Authorization: bearer $token" {{api_base_url}}/readers/1185@mzk.cz/tickets/46f3e498030f4171/messages
    </pre></code></div>
  </dd>
  <dt>Notes</dt>
  <dd>
    Datový model ZÍSKEJ nerozlišuje počet nepřečtených zpráv pro danou objednávku, ale pouze zda existuje některá nepřečtená.
    Pro API se používá zjednodušení, že v případě, že existuje, je jako nepřečtená označena poslední obdržená zpráva.
  </dd>
</dl>


<h4>Vytvořit novou zprávu čtenáře k objednávce čtenáře POST</h4>

<dl>
  <dt>URL</dt>
  <dd>/readers/:eppn/tickets/:ticket_id/messages</dd>
  <dt>Method</dt>
  <dd>POST</dd>
  <dt>URL params</dt>
  <dd></dd>
  <dt>Data params</dt>
  <dd>
    <dl class="ml-5">
      <dt><strong>Required</strong></dt>
      <dd></dd>
      <dt>text</dt>
      <dd>text zprávy</dd>
    </dl>
  </dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 201 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "count_messages_unread": 0,
    "count_messages": 12
}
    </pre></code></div>
  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -d '{"text": "Lorem ipsum"}' -H "Content-Type: application/json" -H "Authorization: bearer $token" {{api_base_url}}/readers/1185@mzk.cz/tickets/46f3e498030f4171/messages
    </pre></code></div>
  </dd>
</dl>


<h4>Označit zprávy k objednávce čtenáře jako přečtené PUT</h4>

<dl>
  <dt>URL</dt>
  <dd>/readers/:eppn/tickets/:ticket_id/messages</dd>
  <dt>Method</dt>
  <dd>PUT</dd>
  <dt>URL params</dt>
  <dd></dd>
  <dt>Data params</dt>
  <dd>
    <dl class="ml-5">
      <dt><strong>Required</strong></dt>
      <dd></dd>
      <dt>unread</dt>
      <dd>false pro označení zpráv k objednávce jako přečtené</dd>
    </dl>
  </dd>
  <dt>Success Response</dt>
  <dd>
    <p>Response 200 (application/json)</p>
    <div class="ml-5"><code><pre>
{
    "count_messages_unread": 0,
    "count_messages": 12
}
    </pre></code></div>
  </dd>
  <dt>Sample Call</dt>
  <dd>
    <div class="ml-5"><code><pre>
curl -X PUT -d '{"unread": false}' -H "Content-Type: application/json" -H "Authorization: bearer $token" {{api_base_url}}/readers/1185@mzk.cz/tickets/46f3e498030f4171/messages
    </pre></code></div>
  </dd>
</dl>


</div>
</body>
</html>
